[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = "<2.0.0"
environmental = ">=1.1"
decorator = "*"
pytz = "*"
stups-senza = "==2.1.135"
metricz = "==0.1.4"
raven = "*"
PyYAML = "*"
uWSGI = "==2.0.17.1"
Flask = "<2.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
factory-boy = "*"
pylint = "*"

[requires]
python_version = "3.6"
